<div class="about-page">
  As a candidate for this exam, you’re a technology professional who wants to
  demonstrate foundational knowledge of cloud concepts in general and Microsoft
  Azure in particular. This exam is a common starting point in a journey towards
  a career in Azure. You can describe Azure architectural components and Azure
  services, such as:

  <ul>
    <li>Compute</li>
    <li>Networking</li>
    <li>Storage</li>
  </ul>

  You can also describe features and tools to secure, govern, and administer
  Azure. You should have skills and experience working with an area of IT, such
  as:

  <ul>
    <li>Infrastructure management</li>
    <li>Database management</li>
    <li>Software development</li>
  </ul>
</div>
