<div>
  <p>Dashboard works are going on ..</p>
  <mat-slide-toggle >Toggle me!</mat-slide-toggle>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Teacher</mat-panel-title>
        <mat-panel-description>
          This is a summary of the teacher
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Student</mat-panel-title>
        <mat-panel-description>
          This is a summary of the student
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Examiner</mat-panel-title>
        <mat-panel-description>
          This is a summary of the examiner
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary Examiner content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="buttons">
    <h4>Lets start progress...</h4>
    <button>Yes</button>
    <button>No</button>
  </div>

 
</div>
